a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,dialog,div,dl,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,meter,nav,object,ol,output,p,pre,progress,q,rp,rt,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video,xmp{margin:0;padding:0;border:0;font-size:100%;zoom:1}
blockquote,body,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,html,input,li,ol,pre,textarea,ul{list-style:none}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
table{border-collapse:collapse;border-spacing:0}
th,td,caption{vertical-align:middle;font-weight:normal}
h1,h2,h3,h4,h5,h6{line-height:normal;font-weight:normal}
b,strong{font-weight:bold}
img{border:none;vertical-align:middle;font-size:0;color:transparent;-ms-interpolation-mode:bicubic}
svg{overflow:hidden}

.t_ContentContainer{color:#333;font-size:11px;line-height:17px;padding:10px}
.t_Content_black,.t_Content_dark,.t_Content_gray{color:#efefef}
.t_ContentContainer a,.t_ContentContainer a:hover{color:#8e8e8e;text-decoration:none;background:none;border:0}
.t_ContentContainer a:hover{text-decoration:underline}
.t_Content_dark a,.t_Content_dark a:hover,.t_Content_black a,.t_Content_black a:hover{color:#ccc}
.t_Content_gray a,.t_Content_gray a:hover{color:#232323}
.t_Content_red,.t_Content_green,.t_Content_blue{color:#efefef;font-size:11px;line-height:17px;padding:10px}
.t_Content_red a,.t_Content_red a:hover,.t_Content_green a,.t_Content_green a:hover,.t_Content_blue a,.t_Content_blue a:hover{text-decoration:none;background:none;border:0;color:#ccc}
.t_Content_red a:hover,.t_Content_green a:hover,.t_Content_blue a:hover{text-decoration:underline}
.t_Content_tiny{color:#efefef;font-size:11px;line-height:16px;padding:6px 9px}
.t_Content_tiny a,.t_Content_tiny a:hover{color:#b3b3b3;text-decoration:none;background:none;border:0}
.t_Tooltip{margin:0;padding:0;position:absolute;overflow:hidden;background-color:transparent;-webkit-transition-property:opacity;-moz-transition-property:opacity;-o-transition-property:opacity;transition-property:opacity}
.t_Tooltip.t_hidden{opacity:0}
.t_Tooltip.t_visible{opacity:1}
.t_Skin{position:absolute;top:0;left:0}
.t_Skin *{zoom:1}
.t_Bubble{position:relative}
.t_Background,.t_Stem{position:absolute}
.t_Close{position:absolute;cursor:pointer;top:0}
.t_CloseButtonShift{position:relative;overflow:hidden;float:left}
.t_CloseState{position:absolute;margin:0;padding:0;left:0}
.t_Content{position:absolute;top:0;left:0}
.t_iframeShim{position:absolute;top:0;left:0;margin:0;padding:0;zoom:1;opacity:0}
.t_Shadow{position:absolute;top:0;left:0;margin:0;padding:0}
.t_Shadow .t_ShadowInnerWrapper{position:relative;float:left;margin:0;padding:0}
.t_ShadowBubble{position:relative;padding:0;margin:0;float:left}
.t_ShadowBackground,.t_ShadowStem{position:absolute}
.t_ShadowBackground *,.t_ShadowStem *{float:left}
.t_CloseButtonShadow{position:absolute;top:0;left:0;margin:0;padding:0}
.t_UpdateQueue{position:absolute;top:-15000px;left:-15000px;width:5000px;height:5000px;visibility:hidden}
.t_UpdateQueue .t_Tooltip,.t_UpdateQueue .t_Content{position:relative;overflow:visible;float:left;top:auto;left:auto;width:100%}
.t_Tooltip .t_ContentContainer{float:left;clear:both;position:relative}
.t_UpdateQueue .t_ContentContainer{position:absolute;top:0;left:0}

@font-face{font-family:'Avenir Next';src:url("../fonts/avenir/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix");src:url("../fonts/avenir/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix") format('eot'),url("../fonts/avenir/1e9892c0-6927-4412-9874-1b82801ba47a.woff") format('woff'),url("../fonts/avenir/46cf1067-688d-4aab-b0f7-bd942af6efd8.ttf") format('truetype'),url("../fonts/avenir/52a192b1-bea5-4b48-879f-107f009b666f.svg#52a192b1-bea5-4b48-879f-107f009b666f") format('svg')}
@font-face{font-family:'Avenir Next Demi';src:url("../fonts/avenir/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix");src:url("../fonts/avenir/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix") format('eot'),url("../fonts/avenir/91b50bbb-9aa1-4d54-9159-ec6f19d14a7c.woff") format('woff'),url("../fonts/avenir/a0f4c2f9-8a42-4786-ad00-fce42b57b148.ttf") format('truetype'),url("../fonts/avenir/99affa9a-a5e9-4559-bd07-20cf0071852d.svg#99affa9a-a5e9-4559-bd07-20cf0071852d") format('svg')}
@font-face{font-family:'Avenir Next Thin';src:url("../fonts/avenir/42c793cf-df5a-4e07-bf3e-37de54df02b6.eot?#iefix");src:url("../fonts/avenir/42c793cf-df5a-4e07-bf3e-37de54df02b6.eot?#iefix") format('eot'),url("../fonts/avenir/c6c8e4be-17eb-4475-bbfc-bb485ffde766.woff") format('woff'),url("../fonts/avenir/87a872d0-5af3-4231-a77c-37f41ec74662.ttf") format('truetype'),url("../fonts/avenir/91464696-717b-4eaa-adbd-0dfc5e5fd782.svg#91464696-717b-4eaa-adbd-0dfc5e5fd782") format('svg')}
@font-face{font-family:'Avenir Next Medium';src:url("../fonts/avenir/1a7c9181-cd24-4943-a9d9-d033189524e0.eot?#iefix");src:url("../fonts/avenir/1a7c9181-cd24-4943-a9d9-d033189524e0.eot?#iefix") format('eot'),url("../fonts/avenir/f26faddb-86cc-4477-a253-1e1287684336.woff") format('woff'),url("../fonts/avenir/63a74598-733c-4d0c-bd91-b01bffcd6e69.ttf") format('truetype'),url("../fonts/avenir/a89d6ad1-a04f-4a8f-b140-e55478dbea80.svg#a89d6ad1-a04f-4a8f-b140-e55478dbea80") format('svg')}
@font-face{font-family:'Amatic SC';font-style:normal;font-weight:400;src:url("../fonts/amatic/DPPfSFKxRTXvae2bKDzp5PY6323mHUZFJMgTvxaG2iE.eot");src:local('Amatic SC Regular'),local('AmaticSC-Regular'),url("../fonts/amatic/DPPfSFKxRTXvae2bKDzp5PY6323mHUZFJMgTvxaG2iE.eot") format('embedded-opentype'),url("../fonts/amatic/DPPfSFKxRTXvae2bKDzp5D8E0i7KZn-EPnyo3HZu7kw.woff") format('woff')}
@font-face{font-family:'Amatic SC';font-style:normal;font-weight:700;src:url("../fonts/amatic/IDnkRTPGcrSVo50UyYNK73Z2MAKAc2x4R1uOSeegc5U.eot");src:local('Amatic SC Bold'),local('AmaticSC-Bold'),url("../fonts/amatic/IDnkRTPGcrSVo50UyYNK73Z2MAKAc2x4R1uOSeegc5U.eot") format('embedded-opentype'),url("../fonts/amatic/IDnkRTPGcrSVo50UyYNK73hCUOGz7vYGh680lGh-uXM.woff") format('woff')}
@font-face{font-family:'Antenna RE';src:url("../fonts/antenna/69e03e4b-d31e-4a31-b803-d31679c0e921-2.eot");src:url("../fonts/antenna/69e03e4b-d31e-4a31-b803-d31679c0e921-2.eot?") format('embedded-opentype'),url("../fonts/antenna/69e03e4b-d31e-4a31-b803-d31679c0e921-3.woff") format('woff'),url("../fonts/antenna/69e03e4b-d31e-4a31-b803-d31679c0e921-1.ttf") format('truetype'),url("../fonts/antenna/69e03e4b-d31e-4a31-b803-d31679c0e921-4.svg#web") format('svg');font-style:normal;font-weight:normal}
@font-face{font-family:'Antenna RE Bold';src:url("../fonts/antenna/8d78c612-9897-4186-9ec9-9cf4dcf3f1c1-2.eot");src:url("../fonts/antenna/8d78c612-9897-4186-9ec9-9cf4dcf3f1c1-2.eot?") format('embedded-opentype'),url("../fonts/antenna/8d78c612-9897-4186-9ec9-9cf4dcf3f1c1-3.woff") format('woff'),url("../fonts/antenna/8d78c612-9897-4186-9ec9-9cf4dcf3f1c1-1.ttf") format('truetype'),url("../fonts/antenna/8d78c612-9897-4186-9ec9-9cf4dcf3f1c1-4.svg#web") format('svg');font-style:normal;font-weight:normal}

body{margin-top:0;background:#fff;padding-top:64px;font:15px 'Avenir Next','Helvetica Neue',Helvetica,Arial,sans-serif;color:#747474;-webkit-transition:-webkit-transform .5s;-moz-transition:-moz-transform .5s;-ms-transition:-ms-transform .5s;-o-transition:-o-transform .5s;transition:transform .5s}
h1,h2,h3{padding-top:.67em;padding-bottom:.67em}
h1{font:37px 'Avenir Next Thin','Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;color:#2b2b2b}
h1 strong{font-family:'Avenir Next Medium','Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal}
h2{font:28px 'Avenir Next Thin','Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal}
p,ol,ul{margin-top:1em;margin-bottom:1em}
li{list-style-type:disc}
textarea,select{margin:0;outline:none}
textarea{overflow:auto;resize:none}
input{outline-color:#009548}
strong{font-family:'Avenir Next Demi','Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal}
a{outline-color:#009548;text-decoration:none;color:#009548;-webkit-transition:color .2s ease-in-out;-moz-transition:color .2s ease-in-out;-o-transition:color .2s ease-in-out;transition:color .2s ease-in-out}
a:hover{color:#009548}
.viewport{position:relative;margin-right:auto;margin-left:auto;padding-right:10px;padding-left:10px;max-width:1000px}
.clearfix:before,.clearfix:after{content:" ";display:table;}
.clearfix:after{clear:both}
.clearfix{*zoom:1}
.centered-text{text-align:center}
.left{float:left}
.ie-warning{display:none;margin-top:8px;margin-left:5px;width:320px;text-align:left}
.ie-warning-card{margin-left:-10px}
.inactive-btn{width:300px;padding-top:15px;height:41px;background:#e5e5e5;border-right:#333;-webkit-border-radius:3px;border-radius:3px;font-size:20px;font-family:'Avenir Next Thin',sans-serif;text-align:center;display:block;-webkit-box-shadow:0 0 8px rgba(0,0,0,0.6) inset;box-shadow:0 0 8px rgba(0,0,0,0.6) inset;margin-bottom:10px;cursor:auto}

header{position:fixed;top:0;right:0;left:0;z-index:4;background:#fff;border-bottom:1px solid #fff;height:64px;font-family:'Avenir Next',sans-serif;-webkit-transition:box-shadow 1s ease-in-out,margin-top .4s ease-out,top .4s ease-out,border .4s ease-in;-moz-transition:box-shadow 1s ease-in-out,margin-top .4s ease-out,top .4s ease-out,border .4s ease-in;-o-transition:box-shadow 1s ease-in-out,margin-top .4s ease-out,top .4s ease-out,border .4s ease-in;transition:box-shadow 1s ease-in-out,margin-top .4s ease-out,top .4s ease-out,border .4s ease-in}
header.with-border{border-bottom:1px solid #ddd}
.viewport{position:relative;margin-right:auto;margin-left:auto;padding-right:10px;padding-left:10px;max-width:1000px}
header.active{-webkit-box-shadow:0 3px 10px rgba(0,0,0,0.25);-moz-box-shadow:0 3px 10px rgba(0,0,0,0.25);box-shadow:0 3px 10px rgba(0,0,0,0.25)}
#logo{display:block;position:relative;top:13px;background:url("../images/coordination.png");width:48px;height:48px}
#logo:hover{background-position:left 0}
#mininav{display:none;}
#mininav button{cursor:pointer;position:absolute;top:19px;right:12px;outline:none;width:48px;height:45px;text-indent:-900em;background:transparent;border:0;}
#mininav button:after{content:'';position:absolute;width:68%;height:4px;-webkit-border-radius:4px;border-radius:4px;background:#6b6969;top:0;left:16%;box-shadow:0 10px 0 #6b6969,0 20px 0 #6b6969}
#mininav ul{width:100%;margin:0;padding:0;position:absolute;top:-196px;left:0}
#mininav li{list-style-type:none;width:100%;background:#494747;color:#eee;text-align:center;border-bottom:1px solid #999;text-transform:uppercase;padding:0;}
#mininav li.anchor{cursor:auto;padding:0;}
#mininav li.anchor a{width:100%;display:block}
#mininav li a{color:#eee;padding:15px 0;width:100%;display:block}
#nav{position:absolute;top:14px;right:20px;font-size:medium}
#nav a{float:left}
.firefox #nav{top:15px}
#nav #newsletter.link{position:relative}
#nav .link{display:inline-block;margin-left:28px;margin-top:9px;font-family:'Avenir Next Thin'}
#nav .link{color:#909090;cursor:pointer;text-decoration:none;-webkit-transition:color .2s ease-in-out;-moz-transition:color .2s ease-in-out;-o-transition:color .2s ease-in-out;transition:color .2s ease-in-out}
.ie #nav span.link{position:relative;top:-5px}
#nav .link:hover,#nav .link.active{color:#00bb5b}
.firefox #nav a{position:relative;top:3px}
#nav .badge{display:table-cell;position:relative;top:5px;left:-5px;border:1px solid #980010;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;background:linear-gradient(to bottom,#e66371 0%,#87000e 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#e66371),color-stop(100%,#87000e));background:-webkit-linear-gradient(top,#e66371 0%,#87000e 100%);background:-moz-linear-gradient(top,#e66371 0%,#87000e 100%);background:-o-linear-gradient(top,#e66371 0%,#87000e 100%);filter:Gradient(#e66371,#87000e);background:-ms-linear-gradient(top,#e66371 0%,#87000e 100%);width:24px;height:8px;text-align:center;vertical-align:middle;font:9px 'Avenir Next','Helvetica Neue',Helvetica,Arial,sans-serif;color:#fff}
#nav #facebook,#nav #twitter,#nav #mail,#nav #youtube,#nav #github{text-indent:100%;white-space:nowrap;overflow:hidden;display:inline-block;top:6px;margin-left:15px;position:relative;right:0;margin:0 3px 0 0}
#nav #facebook{margin-left:28px;background:url("../images/facebook.png");width:11px;height:23px}
#nav #twitter{margin-left:28px;background:url("../images/twitter.png");width:26px;height:22px;top:7px}
#nav #youtube{background:url("../images/youtube.png");margin-left:28px;width:32px;height:22px;top:7px}
#nav #github{margin-left:28px;background:url("../images/github.png") no-repeat;width:25px;height:24px;top:7px}
#nav #mail{margin-left:20px;background:url("../images/mail.png");width:22px;height:23px}
#nav #facebook:hover,#nav #twitter:hover,#nav #mail.is-active,#nav #youtube:hover,#nav #github:hover{background-position:left bottom}
#newsletter-signup{display:none;color:#fff;position:absolute;width:292px;background:transparent;z-index:5;right:206px;top:37px}
#newsletter-signup .viewport{background:transparent;position:relative}
#newsletter-signup .viewport div{background:#4f9656;position:relative;width:292px;padding:8px 6px}
#newsletter-signup .viewport div:before{content:'';width:0;height:0;position:absolute;right:8px;top:-16px;border:8px solid;border-color:transparent transparent #4f9656 transparent}
#newsletter-signup label{font-family:'Avenir Next Thin',sans-serif;background:url("../images/envelope.png") no-repeat 4px 1px;font-size:12px;padding-left:28px;margin-bottom:4px;display:block}
#newsletter-signup input[type=email]{background:#fff;border:0;padding:4px;height:18px;color:#ababab;width:222px;margin:0;margin-right:4px;float:left}
#newsletter-signup input[type=email]:focus{outline-width:0}
#newsletter-signup input[type=submit]{width:56px;background:#fefefe;border:0;color:#009643;font-weight:bold;padding:5px 4px;font-size:12px;cursor:pointer;padding:6 5px;margin:0;-webkit-box-shadow:0 0 0 rgba(0,0,0,0);box-shadow:0 0 0 rgba(0,0,0,0)}
#newsletter-signup span{font-size:12px;margin-top:6px;display:block;font-family:'Avenir Next Thin',sans-serif;font-style:italic;text-align:center}
.without-dot{background:url("../images/D-sans.png") !important}
#dot{position:absolute;top:43px;background:#348e4d;height:10px;left:0;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out}
.active#dot{background:#348e4d}
.active #dot{top:43px;height:2px}
@media (max-width: 850px){#newsletter-signup{right:43px}
}@media (max-width: 756px){#facebook,#twitter,#youtube{display:none}
}@media (max-width: 740px){#nav{display:none}
#mininav{display:block}
}@media screen and (max-width: 600px){#nav{display:none}
#mininav{display:block}
}
#features{margin-top:-10px;padding-top:110px;min-height:720px;overflow:hidden}
#features h1{margin-bottom:20px;text-align:center;font-size:32px;color:#009548}
#features h2{margin-bottom:20px;font-size:22px;color:#747474}
#browser{position:absolute;right:0}
#browser .screenshot{position:absolute;top:80px;left:270px;top:93px;left:265px;transform:scale(1.1);-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);-webkit-box-shadow:0 1px 20px rgba(0,0,0,0.4);box-shadow:0 1px 20px rgba(0,0,0,0.4)}
.dropdown{position:absolute;top:75px;right:129px;line-height:normal;transform:scale(1.21);-webkit-transform:scale(1.21);-moz-transform:scale(1.21);-o-transform:scale(1.21);transform-origin:0 0;-webkit-transform-origin:0 0;-moz-transform-origin:0 0;-o-transform-origin:0 0;transition:box-shadow .2s ease-in;-webkit-transition:box-shadow .2s ease-in;-moz-transition:box-shadow .2s ease-in;-o-transition:box-shadow .2s ease-in;font-size:50%}
.dropdown.active{box-shadow:0 0 12px 3px rgba(0,149,72,0.9);-webkit-box-shadow:0 0 12px 3px rgba(0,149,72,0.9);-moz-box-shadow:0 0 12px 3px rgba(0,149,72,0.9);filter:Shadow(0,3,#009548)}
#list{margin-right:0 !important}
#browser .arrow{display:none;position:absolute;left:-230px;margin-top:-20px;background:url("../images/harrow.png");width:200px;height:59px}
.navbar-annotation .arrow{margin-top:-12px}
.categories-annotation .arrow{top:41%}
.dropdown.alt{display:none;position:absolute;top:75px;right:86px;box-shadow:-2px 3px 10px rgba(0,0,0,0.25);-webkit-box-shadow:-2px 3px 10px rgba(0,0,0,0.25);-moz-box-shadow:-2px 3px 10px rgba(0,0,0,0.25);filter:Shadow(315,10,#c0c0c0);border:1px solid #2b2b2b;background:url("");width:242px;height:370px;transform:scale(1)}
.dropdown.alt.active{box-shadow:0 0 12px 3px rgba(0,149,72,0.9);-webkit-box-shadow:0 0 12px 3px rgba(0,149,72,0.9);-moz-box-shadow:0 0 12px 3px rgba(0,149,72,0.9);filter:Shadow(0,3,#009548)}
.dropdown.alt > div{position:absolute;left:0;width:242px}
.dropdown.alt .navbar-annotation{height:37px}
.dropdown.alt .shortcuts-annotation{top:37px;height:54px}
.dropdown.alt .categories-annotation{top:91px;height:151px}
.dropdown.alt .options-annotation{top:242px;height:53px}
.dropdown.alt .dashboard-annotation{top:295px;height:75px}
#button{position:absolute;top:40px;right:96px;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;width:32px;height:32px;transition:box-shadow .2s ease-in;-webkit-transition:box-shadow .2s ease-in;-moz-transition:box-shadow .2s ease-in;-o-transition:box-shadow .2s ease-in}
#button.active{box-shadow:0 0 12px 5px rgba(0,149,72,0.9);-webkit-box-shadow:0 0 12px 5px rgba(0,149,72,0.9);-moz-box-shadow:0 0 12px 5px rgba(0,149,72,0.9);filter:Shadow(0,#009548)}
#counter{position:absolute;top:32px;right:85px;background:url("");width:48px;height:48px}
#divider,#accordion h3:after,#accordion .ui-accordion-content-active:after{display:block;position:absolute;bottom:0;background:linear-gradient(to right,#d1d1d1 38%,rgba(209,209,209,0) 95%);background:-webkit-gradient(linear,left top,right top,color-stop(38%,#d1d1d1),color-stop(95%,rgba(209,209,209,0)));background:-webkit-linear-gradient(left,#d1d1d1 38%,rgba(209,209,209,0) 95%);background:-moz-linear-gradient(left,#d1d1d1 38%,rgba(209,209,209,0) 95%);background:-o-linear-gradient(left,#d1d1d1 38%,rgba(209,209,209,0) 95%);filter:Gradient(1,#d1d1d1,rgba(0,209,209,0.82));background:-ms-linear-gradient(left,#d1d1d1 38%,rgba(209,209,209,0) 95%);width:360px;height:1px;content:''}
#divider{z-index:1;margin-bottom:-90px}
#column{position:relative;float:left;width:50%}
#accordion{margin-right:40px;background:url("../images/overlay-white.png") right repeat-y;padding-top:70px;padding-bottom:60px}
#accordion h3{padding-top:10px;padding-bottom:12px;font:24px 'Avenir Next Thin','Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;color:#9f9f9f;transition:color .2s ease-in;-webkit-transition:color .2s ease-in;-moz-transition:color .2s ease-in;-o-transition:color .2s ease-in}
#accordion h3:hover,#accordion h3.ui-state-active{color:#2b2b2b}
#accordion h3.ui-state-active:after{display:none}
#accordion .ui-accordion-content-active{margin-top:-10px}
.ui-helper-hidden{display:none}
.ui-helper-hidden-accessible{position:absolute;margin:-1px;border:0;padding:0;width:1px;height:1px;overflow:hidden;clip:rect(0 0 0 0)}
.ui-helper-reset{margin:0;outline:0;border:0;padding:0;list-style:none;line-height:1.3;font-size:100%;text-decoration:none}
.ui-helper-clearfix{min-height:0}
.ui-helper-clearfix:before,.ui-helper-clearfix:after{display:table;border-collapse:collapse;content:''}
.ui-helper-clearfix:after{clear:both}
.ui-helper-zfix{position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;filter:Alpha(0)}
.ui-front{z-index:100}
.ui-state-disabled{cursor:default !important}
.ui-icon{display:block;background-repeat:no-repeat;text-indent:-99999px;overflow:hidden}
.ui-widget-overlay{position:fixed;top:0;left:0;width:100%;height:100%}
.ui-accordion .ui-accordion-header{display:block;position:relative;margin-top:2px;padding:.5em 0;min-height:0;cursor:pointer}
.ui-accordion .ui-accordion-noicons{padding-left:.7em}
.ui-accordion .ui-accordion-icons .ui-accordion-icons{padding-left:2.2em}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon{position:absolute;top:50%;left:.5em;margin-top:-8px}
.ui-accordion .ui-accordion-content{display:none;position:relative;margin-bottom:5px;border-top:0;padding:0 0 1em;line-height:1.5}
#try{position:absolute;top:320px;right:350px}

#list{display:none;margin-top:0;margin-right:83px;margin-left:auto;box-shadow:-2px 3px 10px rgba(0,0,0,0.25);border:1px solid #2b2b2b;background:#fff;padding:1px;width:200px;font-family:'Antenna RE','Helvetica Neue',Helvetica,Arial,sans-serif;color:#333;-webkit-user-select:none;-moz-user-select:none}
table{border-collapse:collapse;font-size:8px}
#navbar{margin-right:auto;margin-left:auto;height:30px}
td{padding:0}
#navbar .badge{width:110px}
#navbar a{outline:none}
#navbar .text{width:70px;text-align:right}
#navbar .text a{margin-left:10px;text-decoration:none;color:#999}
#navbar .text a:hover{color:#333}
#navbar span{margin-left:10px;color:#999;cursor:default}
#navbar .text a:last-child{display:none}
#shortcuts{background:#2b2b2b;width:200px;height:45px;text-align:center}
.shortcut{display:inline-block;margin-right:7px;margin-left:7px;background:#1c7045;text-align:center;font-size:x-small;cursor:pointer}
.shortcut:first-child{display:none}
.shortcut.deactivated{background:#4f4f4f}
.shortcut td{width:24px;height:24px}
.shortcut .badge{display:inline-block;position:relative;overflow:hidden}
.shortcut .badge img{position:absolute}
.shortcut .text{color:#fff}
.category{height:30px;cursor:pointer}
.category:first-child{display:none}
.category:hover{background:#dcdcdc}
.category .badge{display:inline-block;position:relative;margin-top:5px;margin-right:8px;margin-left:3px;width:24px;height:24px;overflow:hidden}
.category .badge img{position:absolute}
.category .text{width:130px}
.category .text table{border-collapse:separate;border-spacing:0;font-size:x-small}
.category .count{color:#999}
.category .action{display:inline-block;position:relative;margin-top:3px;width:35px;height:14px;text-align:center;overflow:hidden}
.category .action img{position:relative;top:-28px}
.border{background:#dcdcdc;height:1px}
.border:first-child{display:none}
.services{background:#f3f3f3}
.services div{display:none}
.service{height:15px}
.service:first-child{display:none}
.service .control{padding-left:10px}
.service input{margin-left:0;-webkit-appearance:none;-moz-appearance:none;box-shadow:inset 0 1px 2px rgba(255,255,255,0.75);border:1px solid rgba(0,0,0,0.25);border-radius:2px;background:-webkit-linear-gradient(#ededed 38%,#dedede);width:12px;height:12px}
.service input:hover{border-color:rgba(0,0,0,0.5)}
.service input:checked{background:-webkit-linear-gradient(#60d490 38%,#68b789)}
.service input:before{display:inline-block;width:100%;height:100%;content:''}
.service input:checked:before{background:url("../images/check.png");background-size:contain}
.service .link{padding-left:5px}
.service a{text-decoration:none;color:#666}
.service :hover{color:#191919}
.service .text{padding-left:10px;color:#b3b3b3;cursor:default}



footer{background-color:#2d2d2d;color:#bababa}
footer .top{padding:30px 0;width:100%;float:left}
footer .viewport{padding-left:7%;width:680px}
footer .top .viewport div{float:left;margin-right:13%}
footer ul{margin-top:0}
footer ul li{list-style:none;font-family:'Avenir Next Thin',sans-serif}
footer .top h4{font-size:18px;color:#dbdbdb}
footer .top a{color:#bababa}
footer .bottom{background-color:#1a1a1a;color:#8d8d8d;padding:16px 0;text-align:center}
@media (max-width: 757px){footer #information-about{margin-right:0}
footer .viewport{width:auto}
footer .top .viewport div{margin-right:10%}
}@media (max-width: 517px){footer .viewport{padding-left:0}
footer .top .viewport div{float:none;width:90%;margin:0 5%;border-bottom:1px dashed #989898;padding-top:20px;}
footer .top .viewport div:last-child{border-bottom:0}
footer .top .viewport div:first-child{padding-top:0}
}
#press-page{margin-top:36px;margin-bottom:46px;}
#press-page h1{color:#009548;padding:0;margin:0}
#press-page p{margin-top:0}
#press-page hr{border:0;border-bottom:1px dashed #ccc;margin:3em 0}

#terms{margin-top:36px;margin-bottom:56px;}
#terms p{margin-top:0}
#terms h1{color:#009548;padding:0;margin:0}
#terms h2{font-size:22px;color:#009548;margin-top:30px}

#help,#search-help,#main-help{margin-top:36px;margin-bottom:86px;}
#help h1,#search-help h1,#main-help h1{color:#009548;padding:0;margin:0}
#help h2,#search-help h2,#main-help h2{font-size:22px;color:#009548;padding-bottom:0;margin-top:72px;color:#5b5b5b;}
#help h2 a,#search-help h2 a,#main-help h2 a{margin-left:10px}
#help h3,#search-help h3,#main-help h3{font-size:18px;padding-bottom:0}
#help ul,#search-help ul,#main-help ul,#help ol,#search-help ol,#main-help ol{margin-left:40px}
#help ol li,#search-help ol li,#main-help ol li{list-style-type:decimal}
#help hr,#search-help hr,#main-help hr{border:0;border-bottom:1px dashed #ccc;margin:200px 0}
#main-help #top-faq{border-bottom:1px dashed #ccc;padding-bottom:36px}
#main-help h2{color:#009548}
#main-help h3{margin-top:72px}
#main-help hr{margin:100px 0}

#team{margin:0 0 60px 0;background:url("../images/team.jpg") no-repeat top center;overflow:visible;padding-top:43px;font-family:'Avenir Next',sans-serif;color:#9a9a9a;font-size:16px}
#team h1{font-family:'Avenir Next Thin',sans-serif;font-size:32px;color:#35b95b}
#team ul{padding-left:0;margin-top:30px}
#team li{width:237px;list-style:none;margin:6px;float:left;min-height:237px;font-family:'Avenir Next',sans-serif}
#team a > div{opacity:0;position:absolute;left:0;top:0;background:rgba(255,255,255,0.9);padding-top:14px;padding-bottom:174px;height:49px;width:100%;-webkit-transition:opacity .3s ease-out;-moz-transition:opacity .3s ease-out;-ms-transition:opacity .3s ease-out;-o-transition:opacity .3s ease-out;transition:opacity .3s ease-out}
#team a:hover > div{opacity:1;border-bottom:2px solid #009548}
#team li:last-child{margin-right:0}
#team li img{width:100%}
#team li a{display:block;width:237px;height:237px;position:relative}
#team li .name{color:#009548;font-size:18px;width:100%;display:block;position:relative}
#team li .position,#team li p{color:#595959;font-family:'Avenir Next Thin',sans-serif;font-size:14px}
#team li p{padding:10px 14px 14px 14px;font-size:13px}
#team li .name,#team li .position{margin-left:14px}
@media screen and (max-width: 1030px){#team h1{text-align:center}
#team ul{width:747px;margin-left:auto;margin-right:auto}
}@media screen and (max-width: 780px){#team ul{width:498px;margin-left:auto;margin-right:auto}
}@media screen and (max-width: 531px){#team ul{width:255px;margin-left:auto;margin-right:auto}
}
